{% extends 'layout/base.html' %}

{% block content %}
<section class="container">
    <div class="row">
        {%for b in products%}
        <div class="col-xs-12 col-md-3" style="padding: 5px;">
            <div class="card">
                <img class="card-img-top" src={{b.image}} alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{b.name}}</h4>
                    <p class="card-text">{{b.price}}</p>
                    <a href="#" class="btn btn-primary">Xem chi tiet</a>
                    <a href="#" class="btn btn-danger">Dat hang</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}